body{
  background-color: black;
  color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container{
    background-color: black;
}
.logo{
    margin-left: 15px;
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;

}
header nav a:hover{
    color: darkred;
}
.film-image{
    position: relative;

    
}
.text-block{
    position: absolute;
    bottom: 250px;
    left: 20px;
    font-style: italic;
    font-size: 30px;
    color: whitesmoke
    padding-left: 20px;
    padding-right: 20px;
}
.user-button{
    align-content: center;
    opacity: 0.6;
    font-size: 15px;
    background-color: black;
    color: white;

}